*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navigator{
    display: flex;
    gap: 20px;
    padding:  14px 24px;
    background-color: rgba(245, 245, 245, 0.904);

}
.earth{
    display: flex;
    align-items: center;
    padding-left: 90px;

}


.patner{
    display: flex;
    padding-left: 700;
    gap: 18px;
    align-items: center;
}
.patner p{
    color: #747A82;
    font-family: Times New Roman;
}
.words p{
    font-size: 18px;
    font-family:euclidCircularB, Arial, sans-serif ;
}

.bolt{
    display: flex;
    gap: 30px;
    padding: 8px 24px;

    
    align-items: center;
}
.words{
    
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 122.vh;
    background-color:  #2EB875;
    z-index: 2;
    
}
.words h1{
    padding-top: 60;
    font-size: 85px;
    color: white;
    padding-left: 90;
    padding-bottom: 170;
    font-family: euclidCircularB, Arial, sans-serif;
    line-height: 80px;
}
.reguest p{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.reguest{
    padding-top: 60;
}
.ad{
    display: flex;
    z-index: 2;
}
.advt{
    z-index: 2;
}
.work{
    padding: px;
    background-color:#4F5CD1;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.earn{
    border-radius:100% ;
    background-color: #6675FF;
    width: 800px;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tags{
    display: flex;
    padding-top: 100;
    justify-content: space-evenly;
    height: 700px;
    background-color: white;
    
}
.tags{
    z-index: 2;
}
.tags img{
    width: 100%;
    height: 80px;
    padding-top: 0px;
    z-index: 2;

}
.work button{
    border-radius: 30px;
    border: none;
}
.ads{
    background-color: white;
    height: 100%;
    z-index: ;
}
.ride{
    background-color: #D9FDE5;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ride img{
    height: 800;
    padding-bottom: 12 0;
}
.workout{
    display: flex;
    justify-content: space-around;
    height: 300;
    justify-content: ;
    align-items: center;
    gap: 20;
}
.bota{
    background-color: #2EB875;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    
    height: 700px;

    justify-content: space-around;
}
.bolo{
    
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-top: 60;
}
.pwb{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 60;
}
.leg{
    padding-top: 60;
}
.company{
    display: flex;
    flex-direction: column;
    font-size: 18px ;
    padding-top: 60;
}

.patner a{
    color: rgb(13, 148, 103);
} 
.patner img{
    padding-top: px;
}  
.bol{
    padding-left: 90px;

} 
.words p{
    color: white;
}
.pis{
    display: flex;
    align-items: center;

}
.w1{
    height: 40;
}
.w2{
    height: 60;
}
.advt img{
    width: 100vh;
    
    
    
}
button{
    padding-top: ;
    height: 60px;
    width: 120;
}
.ride h1{
    padding-left: 90;
    padding-top: 130;
    font-family: euclidCircularB, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    font-size: 48px;
    font-weight: 700;
}
.ride p{
    padding-left: 90;
    font-size: 18px;
    font-weight: 400;
    font-family:euclidCircularB, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    line-height: 27px;
    color: #848391;
    
}
.bota h1{
    font-size: 60;
    color: white;
    
    
}
.de{
    height: 60;

}
.ima{
    display: flex;
    align-items: center;
}
.fe{
    height: 40;
}
footer a{
    color: black;
}
.row1{
    display: flex;
    justify-content: space-around;
}
.bolo{
    gap: 25px;
}
.Pwb{
    gap: 25px;

}
.company{
    gap: 25px;
}
.left{
    display: none;
}
.logsa{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 45px;
    gap: 500px;
}
.logsa1 img{
    height: 30px;
}
.logsa2 img{
    height: 50px;
}
.row2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.row2 hr{
    width: 1300px;
}
.row3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #8193BF;
    padding-top: 30px;
}
.fck{
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    color: #8193BF;
}

@media screen and (max-width:832px){
    .navigator{
        display: none;
    }
    .bolt p{
        display: none;
    }
    .ad{
        display: flex;
        flex-direction: column;
    }
    .words{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .words h1{
        font-size: 45;
        padding: 0;
    }
    .advt img{
    width: 100%;   
}

    .work{
        display: flex;
        flex-direction: column;
    }
    .earn{
        background-color:#4F5CD1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        


    }
    .earn h1{
        font-size: 26px;
        padding-right: 20px;
    }
    .tags{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ride{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .ride img{
        height: 10px;
    }
    .ride h1{
    padding-right: 40;
    padding-top: 130;
    font-family: euclidCircularB, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    font-size: 48px;
    font-weight: 700;
}
.ride p{
    
    font-size: 18px;
    font-weight: 400;
    font-family:euclidCircularB, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    line-height: 27px;
    color: #848391;
    padding-right: 50;
    
    
}
.reggie{
     display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;


}
.workout{
    display: flex;
    flex-direction: column;
    height: 500;
}
.bota h1{
    font-size: 52px;

}
.de{
    display: none;
}
.bota{
    gap: 14px;
}
footer{
    display: flex;
    flex-direction: column;
    height: 1600;
    padding-left: 24px;
}
.row1{
    display: flex;
      flex-direction: column;
}
.left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
.row2 hr{
    display: none;
}
.row3 p{
    font-size: 10px;

}
.row2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
















}
